CONFIG_FIRMWARE_PRODUCT_ID="RT-AC1200GU"
CONFIG_FIRMWARE_PRODUCT_NAME="ASUS RT-AC1200GU"
CONFIG_FIRMWARE_VENDOR="ASUS"
CONFIG_TARGET_BOARD="ramips"
CONFIG_TARGET_SUBTARGET="mt7621"
CONFIG_TARGET_PROFILE="RT-AC1200GU"

CONFIG_FIRMWARE_ENABLE_FAT=y
CONFIG_FIRMWARE_ENABLE_EXT4=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL=y
CONFIG_FIRMWARE_INCLUDE_CURL=y
CONFIG_FIRMWARE_INCLUDE_SMARTDNS=y
CONFIG_FIRMWARE_INCLUDE_VLMCSD=y
